body {
    background-color: white;
    font-family: 'Avelar Light', sans-serif;
    color: #000000;
    width: 900px;
    height: 1200px;
}

header {
    font-size: 15px;
    color: #BADA55;
    background-color: #B58A69;
    letter-spacing: 20px;
}

nav {
    font-size: 18px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s;
}

nav a:hover {
    color: red;
}

@media (max-width: 650px) {
    nav ul {
        flex-direction: column;
    }
}

#sesion {
    text-align: center;
}

#texto1 {
    font-size: 32px;
    color: #000000;
}

#texto2 {
    font-size: 20px;
    text-align: justify;
    background-color: #DEE5DE;
    width: 340px;
    height: 190px;
    margin-left: 50px;
}

#boton {
    background-color: #5E5E4A;
    color: white;
    width: 100px;
    height: 30px;
}

aside {
    font-size: 40px;
    color: #000000;
    background-color: #D7D7CB;
    width: 350px;
    height: 220px;
}

footer {
    font-size: 14px;
    color: #E8E6E6;
    background-color: #5E5E4A;
    padding: 0.1em;
}

